@use "fonts" as *;
@use "colors" as *;
@use "menu.variables" as *;
@use "gap.variables" as *;

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.header {
  width: 100vw;
  height: $menuHeight;
  background-color: $orange;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 -5px 30px rgba($color: $black, $alpha: 0.5);
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: $extraLargeGap;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
      position: relative;
      cursor: pointer;
      font-size: $largeFontSize;
      font-weight: $mediumFontWeight;
    }
    &__item::after {
      content: "";
      display: block;
      background-color: $white;
      height: 3px;
      width: 0%;
      left: 50%;
      position: absolute;
      transition: width 0.3s ease-in-out;
      transform: translateX(-50%);
      border-radius: 20px;
    }
    &__item:hover::after,
    :focus::after {
      width: 100%;
    }
  }
}
@media screen and (max-width: 540px) {
  .header {
    height: $mobileMenuHeight;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 340px) {
  .header {
    height: $smallMobileMenuHeight;
    padding: 5px 10px;
  }
}
