<header class="header">
  <nav class="nav">
    <ul class="header-list">
      <li class="header-list-item"><a class="header-list-item-link">New</a></li>
      <li class="header-list-item">
        <a routerLink="/latest" class="header-list-item-link">Past</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-item-link">Comments</a>
      </li>
      <li class="header-list-item"><a class="header-list-item-link">Ask</a></li>
      <li class="header-list-item">
        <a class="header-list-item-link">Show</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-item-link">Jobs</a>
      </li>
      <li class="header-list-item">
        <a class="header-list-item-link">Submit</a>
      </li>
    </ul>
  </nav>
</header>
