<header class="header">
  <nav class="nav">
    <ul class="header__list">
      <li class="header__list__item">
        <a class="header__list__item__link">New</a>
      </li>
      <li class="header__list__item">
        <a routerLink="/latest" class="header__list__item__link">Past</a>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link">Comments</a>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link">Ask</a>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link">Show</a>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link">Jobs</a>
      </li>
      <li class="header__list__item">
        <a class="header__list__item__link">Submit</a>
      </li>
    </ul>
  </nav>
</header>
