<header class="header">
  <a class="header__logo">
    <img
      src="../../../../../assets/img/y18.gif"
      alt="Hacker News logo"
      class="header__logo__img"
      [routerLink]="[menuItems[0].link]"
    />
  </a>
  <nav class="nav">
    <ul class="header__list">
      <li class="header__list__item" *ngFor="let menuItem of menuItems">
        <a
          class="header__list__item__link"
          [routerLink]="[menuItem.link]"
          routerLinkActive="router-link-active"
          >{{ menuItem.name }}</a
        >
      </li>
    </ul>
  </nav>
</header>
