<div class="topic" *ngIf="topic">
  <div class="topic-header">
    <!-- <span class="topic-header-number">{{ count + 1 }}</span> -->
    <a [href]="topic.url" target="_blank" class="topic-header-title">
      {{ count + 1 + " " + topic.title }}
    </a>
    <a
      class="topic-header-link"
      [href]="topic.url"
      target="_blank"
      *ngIf="topic.url"
      >{{ topic.url | link }}</a
    >
  </div>
  <div class="topic-properties">
    <p class="topic-properties-owner">Created by: {{ topic.by }};</p>
    <p class="topic-properties-score">{{ topic.score | points }};</p>
    <p class="topic-properties-time">{{ topic.time | time }};</p>
    <p class="topic-properties-type">Type: {{ topic.type }};</p>
  </div>
</div>
