@use "colors" as *;
@use "gap" as *;
@use "menu" as *;
@use "media-queries" as *;

.container {
  height: calc(100vh - $menuHeight - 100px);
  width: calc(100vw - 100px);
  background-color: $beige;
  margin: 50px;
  padding: 0;
  box-shadow: 0 0 30px rgba($color: $black, $alpha: 0.2);
}

@include forTablets {
  .container {
    height: calc(100vh - $menuHeight);
    width: 100vw;
    margin: 0;
  }
}

@include forLargeMobiles {
  .container {
    height: calc(100vh - $mobileMenuHeight);
  }
}
@include forSmallMobiles {
  .container {
    height: calc(100vh - $smallMobileMenuHeight);
  }
}
