@use "gap" as *;

:host {
  width: 100%;
  height: 100%;
  display: block;
}

.viewport {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: $extraLargeGap;
}
.title {
  font-size: 30px;
}
