@use "colors" as *;
@use "variables/fonts" as *;

@mixin smallText {
  color: $black;
  font-size: $smallFontSize;
  font-weight: $smallFontWeight;
}

@mixin mediumText {
  color: $black;
  font-size: $mediumFontSize;
  font-weight: $mediumFontWeight;
}

@mixin largeText {
  color: $black;
  font-size: $largeFontSize;
  font-weight: $largeFontWeight;
}
